.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* برای مرکز قرار دادن در کل صفحه */
}

.btn {
    background-color: rgb(151, 129, 123);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #4c63af;
}

.btn:active {
    background-color: #8f3b50;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
